# --- System & IDE ---
.vscode/
.DS_Store
*.swp
.env
# --- Python & Testing ---
__pycache__/
.pytest_cache/
.ipynb_checkpoints/
dist/
build/
*.egg-info/

# --- Sync & Temporary Files ---
.tmp_drive*
*.zip
*.tar.gz
*.log

# --- Data (Don't track big files) ---
data/*.csv